parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures
        - carve-output
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
